@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 text-neutral-900 leading-loose;
    font-family: var(--font-jetbrainsMono);
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[32px] leading-[1.1] font-semibold;
  }
  :root {
    --radius: 0.5rem;
  }
}

/* Estilos personalizados */
.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}

.text-outline-hover {
  -webkit-text-stroke: 1px #4a8fff;
}
